.aside{
    width: 25%;
}

.article{
    width: 75%;
}

.contenedorMainHome{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.langTables{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}