.aside{
    width: 25%;
    color: white;
    background-color: rgba(0, 0, 0, 0.63);
}

.article{
    width: 75%;

}

.contenedorMainHome{
    display: flex;
    align-items: center;
    margin-top: 20px;


}

.langTables{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


  .mainHome{
    background-image: url("../assets/main.avif");
  }